* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Styles  */

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}

header {
    background-color: #FFF4E7;
}

.primary-btn {
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 600;
    background-color: #FF900E;
    color: #ffffff;
    border-radius: 5px;
    border: none;
}

h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    color: #131313;
}

h2 {
    color: #131313;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}

p {
    color: #727272;
    line-height: 22px;
    font-size: 16px;
}

/* Menu bar starts  */

.container {
    max-width: 1200px;
}
.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items {
    display: flex;
    gap: 30px;
    list-style: none;
}

/* Banner styles stated */

.banner {
    text-align: center;
    padding: 120px 0px 20px 0px;
}
.banner p {
    margin: 30px 0;
}

.banner img {
    width: 100%;
    height: 100%;
    margin: 30px 0;
}

/* Quick feature styles started */

.quick-feature {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 50px;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.feature-dsc>p {
    margin: 25px 0;
}
.h2-color1 {
    color: #727272;
}
.h2-color2 {
    color: #FF900E;
}

/* Great features styles started */

.great-features {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 50px 20px;
}

.features-love>p {
    margin: 25px 0;
}

.feature-title {
    padding-left: 20px;
    border-left: 5px solid #FF900E;
}

.single-feature {
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
}

.engineer {
    margin-top: -80px;
    object-fit: contain;
    max-width: 600px;
}

/* Big Button styles started */

.big-button {
    text-align: center;
    position: relative;
    top: -200px;
    left: 80px;
}
.big-btn {
    background-color: #FF900E;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 25px;
}
.btn-line1 {
    font-size: 60px;
    font-weight: 700;
}

.btn-line2 {
    font-size: 25px;
    font-weight: 500;
}